<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheet/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=password]{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

button:hover {
  opacity: 0.8;
}



.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.img {
  width: 20%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Set a grey background color and center the text of the "sign in" section */
.login {
  background-color: #f1f1f1;
  text-align: center;
}
</style>
</head>
<body>
<center>
  <div class="imgcontainer">
    <img src="/images/img.jpg" alt="img" class="img">

  </div>
<form action="/login" method="post">

  <% if(msg !=''){ %>
    <div id="signupalert" class="alert alert-danger">
      <p><%= msg %></p>
    </div>
    <%}%>



 <h2 class="text-center"><%= title %></h2>
  <div class="container">

    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
     <br>

    <button type="submit">Login</button>

  </div>

  <div class="container login">
    <p>If you don't have account <a href="/signup">Create New Account</a>.</p>
  </div>

</form>
</center>
</body>
</html>
